* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #121212;
}
:root {
    --cube-width: 50px;
    --translateZ: 25px;
}

#hidden-bottom {
    transform-style: preserve-3d;
    display: none;
}

.hidden-row-front {
    transform-style: preserve-3d;
    display: flex;
    transform: translate3d(0px,100px,50px);
}

.hidden-row-mid {
    transform-style: preserve-3d;
    display: flex;
    transform: translate3d(0px,50px,0px);
} 

.hidden-row-back {
    transform-style: preserve-3d;
    display: flex;
    transform: translate3d(0px,0px,-50px);
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    height: 850px;
    width: 100%;
}

#whole-cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #121212;
    perspective: 900px;
    perspective-origin: center;
}

.whole {
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* animation: spin 5s linear infinite; */
}

.side-front {
    transform-style: preserve-3d;
    display: flex;
    position: absolute;
    transform: translate3d(0,0,var(--cube-width));
}

.side-middle {
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
}

.side-back {
    transform-style: preserve-3d;
    display: flex;
    position: absolute;
    transform: translate3d(0,0,calc((-1)*var(--cube-width)));
}

/* columns starting from left to right */
.column-1 {
    transform-style: preserve-3d;
}

.column-2 {
    transform-style: preserve-3d;
}

.column-3 {
    transform-style: preserve-3d;
}

/* cubes */
.cube {
    transform-style: preserve-3d;
    height: var(--cube-width);
    width: var(--cube-width);
}


.cube-face {
    height: var(--cube-width);
    width: var(--cube-width);
    position: absolute;
    /* outline: 1px black solid; */
}

.front {
    background-color: green;
    transform: translate3d(0,0,var(--translateZ));
}

.back {
    background-color: blue;
    transform: rotate3d(0,1,0,180deg) translate3d(0,0,var(--translateZ));
}

.left {
    background-color: orange;
    transform: rotate3d(0,1,0,-90deg) translate3d(0,0,var(--translateZ));
}

.right {
    background-color: red;
    transform: rotate3d(0,1,0,90deg) translate3d(0,0,var(--translateZ));
}

.top {
    background-color: yellow;
    transform: rotate3d(1,0,0,90deg) translate3d(0,0,var(--translateZ));
}

.bottom {
    background-color: white;
    transform: rotate3d(1,0,0,-90deg) translate3d(0,0,var(--translateZ));
} 

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

#button-container {
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #121212;
}

button:hover {
    cursor: pointer;
}

.greenBtn {
    color: green;
}

.blueBtn {
    color: blue;
}

.whiteBtn {
    color: white;
}

.yellowBtn {
    color: yellow;
}

.orangeBtn {
    color: orange;
}

.redBtn {
    color: red;
}

footer {
    text-align: center;
    margin-bottom: 15px; 
}

a {
    text-decoration: none;
}

.fa-linkedin {
    position: relative;
    right: 2%;
    color: white;
    transform: scale(0.75);
}

.fa-envelope {
    color: white;
    transform: scale(0.75);
}

.fa-github{
    position: relative;
    left: 2%;
    color: white;
    transform: scale(0.75);
}

/* @keyframes spin {
    0% {
        transform: rotate3d(1,1,0,0);
    }
    100% {
        transform: rotate3d(1,1,0,360);
    }
} */


